#mount-point{
    background-color: #13ACD8;
    color: lightcyan;
    min-height: 450px;
}

/* Navigation*/
.nav-list {
    list-style: none;
    padding-top: 10px;
}

.nav-list-item {
    display: inline-block;
    margin-bottom: 10px;
}

.nav-list-item a{
    padding: 10px;
    color: lightcyan;
    font-size: 30px;
}
.nav-list-item a:hover {
    text-decoration: none;
    color: darkcyan;
}

/*End Navigation */


/* DATA GRID */
.panel-actual{
    border: 1px solid lightcyan;
    border-radius: 10px;
    margin-left: 6%;
}

.t-letter{
    font-size: 40px;
}

.temp-value{
    font-size: 90px;
    color: lightcyan;
    text-align: center;
}

.humidity{
    font-size: 30px;
    margin-top: 10px;
}

.pressure{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-xl{
    font-size: 36px;
}

.text-xxs{
    font-size: 50%;
}
/* END DATA GRID */
.rag-container{
    height: 20px;
    width: 100%;
}

.rag-bar {
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, #31ce29 0%, #e0a92a 47%, #e0a92a 47%, #e0a92a 48%, #e08823 53%, #e08823 53%, #e08823 54%, #e52f22 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #31ce29 0%, #e0a92a 47%, #e0a92a 47%, #e0a92a 48%, #e08823 53%, #e08823 53%, #e08823 54%, #e52f22 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #31ce29 0%, #e0a92a 47%, #e0a92a 47%, #e0a92a 48%, #e08823 53%, #e08823 53%, #e08823 54%, #e52f22 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31ce29', endColorstr='#e52f22', GradientType=1); /* IE6-9 */
}

.rag-bar-handler{
    position: absolute;
    height: 26px;
    background: black;
    width: 5px;
    top: 79%;
    -webkit-transition: left 2s;
}

