body{
    font-size: 30px;
}

#mount-point{
    background-color: #13ACF7;
    color: lightcyan;
    min-height: 400px;
}

/* Navigation*/
.nav-list {
    list-style: none;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0px;
    font-size: 85%;
}

.nav-list-item {
    display: inline-block;
    margin-bottom: 10px;
}

.nav-list-item a{
    padding: 10px;
    color: lightcyan;
    font-size: 100%;
}
.nav-list-item a:hover {
    text-decoration: none;
    color: darkcyan;
}

/*End Navigation */


/* DATA GRID */
.panel-actual{
    border: 1px solid lightcyan;
    border-radius: 10px;
}

.t-letter{
    font-size: 100%;
}

.temp-value{
    font-size: 200%;
    text-align: center;
}

.humidity{
    font-size: 94%;
    margin-top: 10px;
}

.pressure{
    font-size: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-gas{
    margin: 0;
}

.gas-values{
    margin: 0;
    font-size: 90%;
    text-align: right;
}
/* END DATA GRID */


/* COMMON CLASSES */
.good{
    color: lawngreen;
}

.neutral{
    color: lightcyan;
}

.yellow{
    color: yellow;
}

.danger{
    color: #dc3545;
}


.text-xl{
    font-size: 87%;
}

.text-xs{
    font-size: 60%;
}

.text-xxs{
    font-size: 50%;
}

.b-right{
    border-right: 1px solid lightcyan;
}

.b-top{
    border-top: 1px solid lightcyan;
}
/* END COMMON CLASSES */